<!-- Navbar -->
<app-navbar></app-navbar>
<div class="container mx-[77px]">
    <div class=" mt-[64px] lg:mt-[200px] flex flex-col lg:flex-row justify-between items-center gap-10">
        <!-- image -->
        <img 
        class="max-w-[286px] max-h-[236px] lg:max-w-[540px] lg:max-h-[448px]"
        src="./../assets/Scarecrow.png" 
        alt="">

        <div class="flex flex-col justify-between gap-16">
            <h2 class="w-[350px] lg:w-[586px] font-SpaceMono font-bold text-[48px] lg:text-[64px] leading-[95px] tracking-[-0.035em]">I have bad news for you</h2>
            <p class="font-SpaceMono text-[24px] leading-[36px] tracking-[-0.08] font-normal w-[381px]">The page you are looking for might be removed or is temporarily unavailable</p>
            <button class="bg-gray-900 text-white text-[14px] font-SpaceMono leading-[21px] w-[216px] p-6">Back to home page</button>
        </div>
    </div>
</div>
<footer class="w-full font-mono fixed bottom-0 flex justify-center items-center text-sm text-gray-500">
    <p> Created by stivenvr - devChallenges.io</p>
</footer>