<!-- Navbar -->
<app-navbar></app-navbar>

<div class="container">
    <div class="mt-[64px]  md:ml-[77px] md:mt-[215px] flex flex-col md:flex-row items-center justify-between gap-10 md:gap-48">
        <!-- image -->
        <img 
        class="max-w[286px] max-h-[236px] md:max-w-[540px] md:max-h-[448px]"
        src="./../assets/Scarecrow.png" 
        alt="">

        <div class="flex flex-col justify-between gap-[45px]">
            <h2 class="font-SpaceMono font-w font-bold text-[64px] leading-[95px]">I have bad news for you</h2>
            <p class="font-SpaceMono font-normal w-[381px]">The page you are looking for might be removed or is temporarily unavailable</p>
            <button class="bg-gray-900 text-white text-[14px] font-SpaceMono leading-[21px] w-[216px] p-6">Back to home page</button>
        </div>
    </div>
</div>